@font-face {
<<<<<<< HEAD
    font-family: 'Alexis';
    font-style: normal;
    font-weight: normal;
    src: local('Alexis'), url('../fonts/alex.woff') format('woff');
    src: url("../fonts/alexisv3.ttf") format('truetype');
=======
    font-family: 'Euro Plate';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/EuroPlate.ttf") format('truetype');
>>>>>>> 5fe95d5 (- 4 logos, 1 per corner)
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

#prematch_table, #postmatch_table {

    font-family : -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    text-align: center;
    color: white;
    font-size: 13px;
    font-style: bold;
    letter-spacing: 1px;
    border-width: 4px;
    border-color: white;
}

#auton_table, #endgame_table, #teleop_table {
    font-family : -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
<<<<<<< HEAD
    color: black;
=======
    color: white;
>>>>>>> 5fe95d5 (- 4 logos, 1 per corner)
    font-size: 13px;
    font-style: bold;
    letter-spacing: 1px;
    border-width: 4px;
<<<<<<< HEAD
    border-color: black;
}

.button {
    font-family: Alexis;
=======
    border-color: white;
}

.button {
    font-family: 'Euro Plate';
>>>>>>> 5fe95d5 (- 4 logos, 1 per corner)
    font-size: 16px;
}

#autonHeader, #endgameHeader, #teleopHeader1, #teleopHeader2{
<<<<<<< HEAD
    color: black;
    border-color: black;
=======
    color: white;
    border-color: white;
>>>>>>> 5fe95d5 (- 4 logos, 1 per corner)
    border-width: 4px;
}

#postmatchHeader{
    border-width: 4px;
    border-color: white;
}

#prematchHeader1, #prematchHeader2{
    color: white;
    border-color: white;
    border-width: 4px;
}

#qrHeader1, #qrHeader2 {
    color: black;
}

.field-image {
    margin: 2vw;
}

.field-image-src{
    background-position: center;
    border: 1px solid;
}

.main-panel{
    display: none;
    height: 100%;
    min-height: 100%;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    background-color: black;
    font-family : -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    text-align: justify;
}

#prematch{
    display: table;
}

#auton{
}

#teleop{
}

#endgame{
}

#postmatch{
}

#qr-code{
  text-align: center;
  color: black;
}

h1{
<<<<<<< HEAD
    font-family: Alexis;
=======
    font-family: 'Euro Plate';
>>>>>>> 5fe95d5 (- 4 logos, 1 per corner)
    text-align: center;
    border-style: groove;
    border-color: white;
    border-width: 2px;
    font-size: 40px;
    padding: 10px;
<<<<<<< HEAD
    font-weight: 350;
=======
>>>>>>> 5fe95d5 (- 4 logos, 1 per corner)
}

#page2, #page4 {
    color: black;
}

h2{
<<<<<<< HEAD
    font-family: Alexis;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
=======
    font-family: 'Euro Plate';
    text-align: center;
    font-size: 30px;
>>>>>>> 5fe95d5 (- 4 logos, 1 per corner)
    font-style: italic;
}

.match-label{
    text-align: center;
}

.half-button-l{
    width: 48%;
    margin: 1vw;
    height: 100%;
    font: roboto;
}

.half-button-r{
    flex-grow: 1;
    height: 100%;
    width: 48%;
    margin: 1vw;
    font: roboto;
}

.half-button-container{
    display: flex;
}

#nextButton1, #nextButton2, #nextButton9, #nextButton10, .clearForm, .submitForm, #displayButton, #copyButton {
<<<<<<< HEAD
    font-family: Alexis;
=======
    font-family: 'Euro Plate';
>>>>>>> 5fe95d5 (- 4 logos, 1 per corner)
    padding: 10px;
    background-color: rgb(151, 199, 240);
    text-decoration: none;
    display: inline-block;
}

#nextButton3, #nextButton4, #nextButton5, #nextButton6, #nextButton7, #nextButton8 {
<<<<<<< HEAD
    font-family: Alexis;
=======
    font-family: 'Euro Plate';
>>>>>>> 5fe95d5 (- 4 logos, 1 per corner)
    background-color: black;
    padding: 10px;
    color: white;
}

.undoButton, .flipButton {
<<<<<<< HEAD
    font-family: Alexis;
=======
    font-family: 'Euro Plate';
>>>>>>> 5fe95d5 (- 4 logos, 1 per corner)
    background-color: black;
    padding: 10px;
    color: white;
    margin-left: 20px;
}

#prevButton7, #prevButton8, #prevButton9{
<<<<<<< HEAD
    font-family: Alexis;
=======
    font-family: 'Euro Plate';
>>>>>>> 5fe95d5 (- 4 logos, 1 per corner)
    background-color: rgb(151, 199, 240);
    padding: 10px;
}

#prevButton1, #prevButton2, #prevButton3, #prevButton4, #prevButton5, #prevButton6{
<<<<<<< HEAD
    font-family: Alexis;
=======
    font-family: 'Euro Plate';
>>>>>>> 5fe95d5 (- 4 logos, 1 per corner)
    background-color: black;
    padding: 10px;
    color: white;

}

#prematch_table{
<<<<<<< HEAD
    font: Alexis;
=======
    font: 'Euro Plate';
>>>>>>> 5fe95d5 (- 4 logos, 1 per corner)
    text-align: center;
}


h1 .odd {
<<<<<<< HEAD
    font-family: Alexis;
=======
    font-family: 'Euro Plate';
>>>>>>> 5fe95d5 (- 4 logos, 1 per corner)
    text-align: center;
    color: #0AB4EC;
}

h1 .even {
<<<<<<< HEAD
    font-family: Alexis;
=======
    font-family: 'Euro Plate';
>>>>>>> 5fe95d5 (- 4 logos, 1 per corner)
    text-align: center;
    color: #42B333;
}

table {
    border: 1px solid black;
    width: 100%;
}

td {
    padding: 10px 4px;
}

input {
    font-size: 16px;
    font: roboto;
    color: black;
    background-color: white;
}

.title {
    width: "50%";
    text-align: right;
}

.field {
    width: "50%";
    text-align: left;
}

#qr-table {
    text-align: center;
    color: black;
    background-color: white;
}

#data {
    font-family:'Lucida Console', 'monospace';
    text-align: justify;
}
